.footer {
    background-color: rgb(21, 4, 30);
    color: #fff;
    padding: 4em;
    text-align: center;
}

.social_list {

    display: flex;
    justify-content: center;
    list-style-type: none ;
}
.social_list li{
    margin: 0 1em;
}

.social_list li:hover {
    color: #ff33aa;
}

.social_list svg {
    font-size: 1.5em;
    cursor: pointer;
}

.copy_right {
    margin-top: 2em;
}

.copy_right span {
    font-weight: bold;
    color: #ff33f5;
}
